td,
th {
    white-space: nowrap;
    border-color: transparent;
    border-right-color: var(--tui-base-04);

    &:last-child {
        border-right-color: transparent;
    }
}

tbody {
    border-color: transparent;
}

tr td {
    background: var(--tui-base-02);
}

.remove {
  opacity: 0;

  tr:hover &,
  tr:focus-within & {
    opacity: 1;
  }
}
