<ng-container *ngIf="!(reload$ | async)">
<button
  tuiButton
  appearance="primary"
  size="m"
  icon="tuiIconPlusLarge"
  class="button__create"
  (click)="create()"
>
  Добавить студента
</button>

<table tuiTable [columns]="columns">
    <thead>
        <tr tuiThGroup>
            <th *tuiHead="'name'" tuiTh>Name</th>
            <th *tuiHead="'birthdate'" tuiTh>Birthdate</th>
            <th *tuiHead="'number'" tuiTh>Number</th>
            <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
        </tr>
    </thead>
    <tbody *tuiLet="students$ | async as students" tuiTbody>
        <tr *ngFor="let item of students; let index = index" tuiTr>
            <td *tuiCell="'name'" tuiTd>{{ index + 1 }}. {{ item.name }}</td>
            <td *tuiCell="'birthdate'" tuiTd>
                <a>
                    {{ item.birthdate }}
                </a>
            </td>
            <td *tuiCell="'number'" tuiTd>
                <div>{{ item.number }}</div>
            </td>
            <td *tuiCell="'actions'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconDraft"
                title="Изменить"
                shape="rounded"
                type="button"
                (click)="update(item)"
              ></button>
                <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconTrash"
                    title="Удалить"
                    shape="rounded"
                    type="button"
                    (click)="remove(item)"
                ></button>
            </td>
        </tr>
    </tbody>
</table>
</ng-container>

<ng-template
  let-modal
  [tuiDialogOptions]="{size: 'm'}"
  [(tuiDialog)]="isUpdateModalOpen"
>
  <app-update-student
  [modal]="modal"
  [student]="chosenStudent"
  (reload)="reload()"
  ></app-update-student>
</ng-template>

<ng-template
  let-modal
  [tuiDialogOptions]="{size: 'm'}"
  [(tuiDialog)]="isCreateModalOpen"
>
  <app-create-student
    [modal]="modal"
    (reload)="reload()"
  ></app-create-student>
</ng-template>
